<mat-toolbar color="primary" class="navbar">
  @if (showMenuButton()) {
    <button mat-icon-button (click)="onMenuToggle()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
  }

  <span class="navbar-title">{{ title() }}</span>

  <span class="navbar-spacer"></span>

  @if (currentUser(); as user) {
    <span class="user-name">{{ user.nombre }}</span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-button">
      <mat-icon>account_circle</mat-icon>
    </button>
  }
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  @if (currentUser(); as user) {
    <div class="user-menu-header">
      <p class="user-email">{{ user.email }}</p>
      @if (user.roles && user.roles.length > 0) {
        <p class="user-role">{{ user.roles[0].nombre }}</p>
      }
    </div>
  }
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>
